* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.wellcome-window {
  width: inherit;
  height: 49vw;
  padding: 5%;
  display: flex;
  background-color: rgb(12, 0, 49);
}

.left-sec-win {
  width: 50%;
  height: inherit;
}

.right-sec-win {
  width: 100%;
  height: 100%;
  max-height: 45vw;
}

.name {
  color: white;
  padding-top: 15%;
  font-size: 5vw;
}

.image-window {
  padding-left: 15vw;
}

.image {
  color: white;
  width: 30vw;
  height: 35vw;
  border-radius: 20px;
  background-color: rgb(85, 85, 85);
  background-image: url(../assets/profile-picture.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgb(0, 255, 242) 0px 0px 100px -20px,
    rgb(0, 255, 21) 0px 20px 60px -30px, rgba(0, 0, 0, 1) 0px -3px 6px 0px inset;
}

.about {
  padding: 5%;
  padding-right: 3px;
  background-color: rgb(12, 0, 49);
  display: flex;
}

.about-left {
  width: 30%;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  text-decoration-line: none;
}

a {
  padding: 5% 30% 5%;
  /* border: #ffffff solid 1px; */
  background-color: coral;
  font-size: xx-large;
  border-radius: 1vw;
  box-shadow: 0 0px 22px 4px coral;
}
a:visited {
  text-decoration: none;
  background-color: coral;
  color: #ffffff;
  font-weight: normal;
  text-shadow: 1px 1px 1px #000;
}

a:active {
  text-decoration: none;
  color: #46c02a;
  text-shadow: 1px 1px 1px #000;
}

a:hover {
  background-color: #2ab9c0;
  box-shadow: 0 0px 22px 5px #2ab9c0;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0px 22px 4px #2ab9c0;
  text-shadow: 1px 1px 1px #ff0000;
  transition: 63ms;
}

li {
  padding: 9%;
}

.about-display {
  width: 60%;
  height: inherit;
  background-color: #464646;
  border: #565656 solid 5px;
  border-radius: 10px;
  box-shadow: 0 0px 62px -20px rgb(255, 255, 255);
}

.header-part {
  min-width: 90%;
  height: fit-content;
  background-color: #474444;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px 15px 10px -10px #111;
}

.left-section {
  padding: 1%;
  display: flex;
  justify-content: left;
  gap: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50rem;
  background-color: #00c3ff;
}

.red {
  background-color: rgba(255, 0, 0, 0.768);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.601);
}

.green {
  background: rgba(0, 128, 0, 0.804);
}


footer{
    width: 100%;
    position: absolute;
    bottom: 0%;
    background: black;
    color: #F5E5FC;
    padding: 100px 0 30px;
    /* border-top-left-radius: 125px; */
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col :nth-child(2), .col :nth-child(3){
    flex-basis: 15%;

}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}
ul li a {
    text-decoration: none;
    color: white;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 200px;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #ccc;
}
.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
 hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media (max-width:700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col :nth-child(2), .col :nth-child(3){
        flex-basis: 100%;
    
    }
}
